<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/index :: dynamic(~{::main})}">
<body>
	<main>
		<!-- Categories Section Begin -->
	    <section class="categories">
	        <div class="container">
	            <div class="row">
	                <div class="categories__slider owl-carousel">               	
	                    <div class="col-lg-3" th:each="category : ${categories}">
	                        <div class="categories__item set-bg w-100" th:data-setbg="@{|/assets/img/categories/${category.image}|}">
	                            <h5><a th:href="@{|/product/list?cid=${category.id}|}" th:text="${category.name}"></a></h5>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	    <!-- Categories Section End -->
	
	    <!-- Featured Section Begin -->
	    <section class="featured spad">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="section-title">
	                        <h2>Sản Phẩm </h2>
	                    </div>
	                    <div class="featured__controls">
	                        <ul>
	                            <li class="active" data-filter="*">All</li>
	                            <li data-filter="*" th:each="top4 : ${top4Category}"><a style="color: #1c1c1c" href="#" th:text="${top4.name}"></a></li>
	                            <!-- <li data-filter=".oranges">Oranges</li>
	                            <li data-filter=".fresh-meat">Fresh Meat</li>
	                            <li data-filter=".vegetables">Vegetables</li>
	                            <li data-filter=".fastfood">Fastfood</li> -->
	                        </ul>
	                    </div>
	                </div>
	            </div>
	            <div>
	            	<div class="row featured__filter">
		                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat" th:each="product : ${products}">
		                    <div class="featured__item">
		                        <div class="featured__item__pic set-bg" th:data-setbg="@{|/assets/img/product/${product.image}|}">
		                            <ul class="featured__item__pic__hover">
		                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
		                                <li><a th:href="@{|/product/detail/${product.id}|}"><i class="fa-solid fa-circle-info"></i></a></li>
		                                <li><a th:attr="ng-click=@{|cart.add(${product.id})|}"><i class="fa fa-shopping-cart"></i></a></li>
		                            </ul>
		                        </div>
		                        <div class="featured__item__text">
		                            <h6><a href="#" th:text="${product.name}"></a></h6>
		                            <div class="row" style="display: flex; justify-content: center;">
									  <h5 th:text="${#numbers.formatDecimal(product.price, 0, 'POINT', 0, 'POINT')}"></h5>
									  &nbsp<span>đ</span>
									</div>
		                        </div>
		                    </div>
		                </div>                 
		            </div>
		            <div class="row" style="display: flex; justify-content: center;">
		            	<a th:href="@{/product/list}" class="btn-view-more">Xem thêm</a>
		            </div>		                
	            </div>
	        </div>
	    </section>
	    <!-- Featured Section End -->
	
	    <!-- Banner Begin -->
	    <div class="banner">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-6 col-md-6 col-sm-6">
	                    <div class="banner__pic">
	                        <img src="/assets/img/banner/banner-1.jpg" alt="">
	                    </div>
	                </div>
	                <div class="col-lg-6 col-md-6 col-sm-6">
	                    <div class="banner__pic">
	                        <img src="/assets/img/banner/banner-2.jpg" alt="">
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- Banner End -->
	
	    <!-- Latest Product Section Begin -->
	    <section class="latest-product spad">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-4 col-md-6">
					    <div class="latest-product__text">
					        <h4>Sản Phẩm Mới</h4>
					        <div class="latest-product__slider owl-carousel">
					            <div class="latest-prdouct__slider__item" th:each="product, iterStat : ${productsNew}" th:if="${iterStat.index % 3 == 0}">
					                <div class="latest-product__item-group">
					                    <a th:href="@{|/product/detail/${product.id}|}" class="latest-product__item">
					                        <div class="latest-product__item__pic" style="width: 40%">
					                            <img th:src="@{|/assets/img/product/${product.image}|}" alt="">
					                        </div>
					                        <div class="latest-product__item__text">
					                            <h6 th:text="${product.name}"></h6>
					                            <span th:text="${#numbers.formatDecimal(product.price, 0, 'POINT', 0, 'POINT')}">
					                                &nbsp<span style="text-decoration: underline; color: #252525; font-weight: 700;">đ</span>
					                            </span>
					                        </div>
					                    </a>
					                </div>
					                <th:block th:if="${iterStat.index + 1 &lt; productsNew.size()}">
					                    <div class="latest-product__item-group">
					                        <a th:href="@{|/product/detail/${productsNew[iterStat.index + 1].id}|}" class="latest-product__item">
					                            <div class="latest-product__item__pic" style="width: 40%">
					                                <img th:src="@{|/assets/img/product/${productsNew[iterStat.index + 1].image}|}" alt="">
					                            </div>
					                            <div class="latest-product__item__text">
					                                <h6 th:text="${productsNew[iterStat.index + 1].name}"></h6>
					                                <span th:text="${#numbers.formatDecimal(productsNew[iterStat.index + 1].price, 0, 'POINT', 0, 'POINT')}">
					                                    &nbsp<span style="text-decoration: underline; color: #252525; font-weight: 700;">đ</span>
					                                </span>
					                            </div>
					                        </a>
					                    </div>
					                </th:block>
					                <th:block th:if="${iterStat.index + 2 &lt; productsNew.size()}">
					                    <div class="latest-product__item-group">
					                        <a th:href="@{|/product/detail/${productsNew[iterStat.index + 2].id}|}" class="latest-product__item">
					                            <div class="latest-product__item__pic" style="width: 40%">
					                                <img th:src="@{|/assets/img/product/${productsNew[iterStat.index + 2].image}|}" alt="">
					                            </div>
					                            <div class="latest-product__item__text">
					                                <h6 th:text="${productsNew[iterStat.index + 2].name}"></h6>
					                                <span th:text="${#numbers.formatDecimal(productsNew[iterStat.index + 2].price, 0, 'POINT', 0, 'POINT')}">
					                                    &nbsp<span style="text-decoration: underline; color: #252525; font-weight: 700;">đ</span>
					                                </span>
					                            </div>
					                        </a>
					                    </div>
					                </th:block>
					            </div>
					        </div>
					    </div>
					</div>

	                <div class="col-lg-4 col-md-6">
	                    <div class="latest-product__text">
	                        <h4>Đánh Giá Cao</h4>
	                        <div class="latest-product__slider owl-carousel">
	                            <div class="latest-prdouct__slider__item" th:each="product, iterStat : ${productsTop}" th:if="${iterStat.index % 3 == 0}">
					                <div class="latest-product__item-group">
					                    <a th:href="@{|/product/detail/${product.id}|}" class="latest-product__item">
					                        <div class="latest-product__item__pic" style="width: 40%">
					                            <img th:src="@{|/assets/img/product/${product.image}|}" alt="">
					                        </div>
					                        <div class="latest-product__item__text">
					                            <h6 th:text="${product.name}"></h6>
					                            <span th:text="${#numbers.formatDecimal(product.price, 0, 'POINT', 0, 'POINT')}">
					                                &nbsp<span style="text-decoration: underline; color: #252525; font-weight: 700;">đ</span>
					                            </span>
					                        </div>
					                    </a>
					                </div>
					                <th:block th:if="${iterStat.index + 1 &lt; productsTop.size()}">
					                    <div class="latest-product__item-group">
					                        <a th:href="@{|/product/detail/${productsTop[iterStat.index + 1].id}|}" class="latest-product__item">
					                            <div class="latest-product__item__pic" style="width: 40%">
					                                <img th:src="@{|/assets/img/product/${productsTop[iterStat.index + 1].image}|}" alt="">
					                            </div>
					                            <div class="latest-product__item__text">
					                                <h6 th:text="${productsTop[iterStat.index + 1].name}"></h6>
					                                <span th:text="${#numbers.formatDecimal(productsTop[iterStat.index + 1].price, 0, 'POINT', 0, 'POINT')}">
					                                    &nbsp<span style="text-decoration: underline; color: #252525; font-weight: 700;">đ</span>
					                                </span>
					                            </div>
					                        </a>
					                    </div>
					                </th:block>
					                <th:block th:if="${iterStat.index + 2 &lt; productsTop.size()}">
					                    <div class="latest-product__item-group">
					                        <a th:href="@{|/product/detail/${productsTop[iterStat.index + 2].id}|}" class="latest-product__item">
					                            <div class="latest-product__item__pic" style="width: 40%">
					                                <img th:src="@{|/assets/img/product/${productsTop[iterStat.index + 2].image}|}" alt="">
					                            </div>
					                            <div class="latest-product__item__text">
					                                <h6 th:text="${productsTop[iterStat.index + 2].name}"></h6>
					                                <span th:text="${#numbers.formatDecimal(productsTop[iterStat.index + 2].price, 0, 'POINT', 0, 'POINT')}">
					                                    &nbsp<span style="text-decoration: underline; color: #252525; font-weight: 700;">đ</span>
					                                </span>
					                            </div>
					                        </a>
					                    </div>
					                </th:block>
					            </div>    
	                        </div>
	                    </div>
	                </div>
	                <div class="col-lg-4 col-md-6">
	                    <div class="latest-product__text">
	                        <h4>Review Products</h4>
	                        <div class="latest-product__slider owl-carousel">
	                            <div class="latest-prdouct__slider__item">
	                                <a href="#" class="latest-product__item">
	                                    <div class="latest-product__item__pic">
	                                        <img src="/assets/img/latest-product/lp-1.jpg" alt="">
	                                    </div>
	                                    <div class="latest-product__item__text">
	                                        <h6>Crab Pool Security</h6>
	                                        <span>$30.00</span>
	                                    </div>
	                                </a>
	                                <a href="#" class="latest-product__item">
	                                    <div class="latest-product__item__pic">
	                                        <img src="/assets/img/latest-product/lp-2.jpg" alt="">
	                                    </div>
	                                    <div class="latest-product__item__text">
	                                        <h6>Crab Pool Security</h6>
	                                        <span>$30.00</span>
	                                    </div>
	                                </a>
	                                <a href="#" class="latest-product__item">
	                                    <div class="latest-product__item__pic">
	                                        <img src="/assets/img/latest-product/lp-3.jpg" alt="">
	                                    </div>
	                                    <div class="latest-product__item__text">
	                                        <h6>Crab Pool Security</h6>
	                                        <span>$30.00</span>
	                                    </div>
	                                </a>
	                            </div>
	                            <div class="latest-prdouct__slider__item">
	                                <a href="#" class="latest-product__item">
	                                    <div class="latest-product__item__pic">
	                                        <img src="/assets/img/latest-product/lp-1.jpg" alt="">
	                                    </div>
	                                    <div class="latest-product__item__text">
	                                        <h6>Crab Pool Security</h6>
	                                        <span>$30.00</span>
	                                    </div>
	                                </a>
	                                <a href="#" class="latest-product__item">
	                                    <div class="latest-product__item__pic">
	                                        <img src="/assets/img/latest-product/lp-2.jpg" alt="">
	                                    </div>
	                                    <div class="latest-product__item__text">
	                                        <h6>Crab Pool Security</h6>
	                                        <span>$30.00</span>
	                                    </div>
	                                </a>
	                                <a href="#" class="latest-product__item">
	                                    <div class="latest-product__item__pic">
	                                        <img src="/assets/img/latest-product/lp-3.jpg" alt="">
	                                    </div>
	                                    <div class="latest-product__item__text">
	                                        <h6>Crab Pool Security</h6>
	                                        <span>$30.00</span>
	                                    </div>
	                                </a>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	    <!-- Latest Product Section End -->
	
	    <!-- Blog Section Begin -->
	    <section class="from-blog spad">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="section-title from-blog__title">
	                        <h2>From The Blog</h2>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-lg-4 col-md-4 col-sm-6">
	                    <div class="blog__item">
	                        <div class="blog__item__pic">
	                            <img src="/assets/img/blog/blog-1.jpg" alt="">
	                        </div>
	                        <div class="blog__item__text">
	                            <ul>
	                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
	                                <li><i class="fa fa-comment-o"></i> 5</li>
	                            </ul>
	                            <h5><a href="#">Cooking tips make cooking simple</a></h5>
	                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-lg-4 col-md-4 col-sm-6">
	                    <div class="blog__item">
	                        <div class="blog__item__pic">
	                            <img src="/assets/img/blog/blog-2.jpg" alt="">
	                        </div>
	                        <div class="blog__item__text">
	                            <ul>
	                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
	                                <li><i class="fa fa-comment-o"></i> 5</li>
	                            </ul>
	                            <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
	                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-lg-4 col-md-4 col-sm-6">
	                    <div class="blog__item">
	                        <div class="blog__item__pic">
	                            <img src="/assets/img/blog/blog-3.jpg" alt="">
	                        </div>
	                        <div class="blog__item__text">
	                            <ul>
	                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
	                                <li><i class="fa fa-comment-o"></i> 5</li>
	                            </ul>
	                            <h5><a href="#">Visit the clean farm in the US</a></h5>
	                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
    <!-- Blog Section End -->
	</main>	
</body>
</html>