<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="dest/style.min.css" />
  </head>

  <body>
    <div class="overlay"></div>
    <main class="mainwrapper profilepage">
      <div class="container">
        <div class="wrapper">
          <div class="sidebar">
            <div class="sidebar__info">
              <div class="useravatar">
                <div class="avatar">
                  <div class="img">
                    <img src="img/avatar-1.jpg" alt="avatar" />
                  </div>
                </div>
                <h3 class="title --t3">Leonardo</h3>
              </div>
            </div>
            <div class="sidebar__content">
              <h4>Giới thiệu</h4>
              <p class="description">
                Cheerful, cafeful,friendly. I like listening to music, traveling
                and coding, listening to music, traveling and coding.
              </p>
              <ul>
                <li>
                  <img src="img/icon-mail-outline.svg" alt="icon" /><span
                    >Mail</span
                  >
                </li>
                <li>
                  <img src="img/icon-phone-outline.svg" alt="icon" /><span
                    >098 9596 913</span
                  >
                </li>
              </ul>
              <div class="social">
                <a href="#"><img src="img/icon-facebook-dark.svg" alt="" /></a>
                <a href="#"><img src="img/icon-linkedin-dark.svg" alt="" /></a>
                <a href="#"><img src="img/icon-youtube-dark.svg" alt="" /></a>
              </div>
            </div>
          </div>
          <div class="tabwrap">
            <div class="tab">
              <div class="tab__title">
                <a href="#" class="active" style="color: #039603"
                  >Thông tin cá nhân</a
                >
              </div>
              <div class="tab__content">
                <!-- Thông tin cá nhân -->
                <div class="tab__content-item" style="display: block">
                  <form action="#" class="form">
                    <div class="form-container">
                      <div class="form-group">
                        <label class="label">Họ và tên <span>*</span></label>
                        <input
                          placeholder="Full Name"
                          type="text"
                          class="form__input formerror"
                        />
                        <div class="error">Vui lòng nhập họ và tên</div>
                      </div>
                      <div class="form-group">
                        <label class="label"
                          >Số điện thoại <span>*</span></label
                        >
                        <input type="text" class="form__input" />
                      </div>
                    </div>
                    <div class="form-container">
                      <div class="form-group">
                        <label class="label">Email <span>*</span></label>
                        <input
                          placeholder="leonardo@gmail.com"
                          type="email"
                          class="form__input"
                          p
                        />
                      </div>
                      <div class="form-group">
                        <div class="form-grouppass">
                          <label class="label">Mật khẩu <span>*</span></label>
                          <div
                            class="textchange btnmodal"
                            data-modal="mdchangepass"
                            style="color: #039603"
                          >
                            Đổi mật khẩu
                          </div>
                        </div>
                        <input
                          value="12345568900"
                          type="password"
                          class="form__input"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="label">Images</label>
                      <input type="text" class="form__input" placeholder="" />
                    </div>
                    <p class="noti" style="color: #039603">
                      Cập nhận thông tin thành công
                    </p>
                    <div class="form-group">
                      <div class="btnsubmit">
                        <button
                          class="btn btn--primary"
                          style="background-color: #039603"
                        >
                          Lưu lại
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>


    <script src="dest/jsmain.min.js"></script>
    <script src="dest/main.js"></script>
  </body>
</html>
